<?xml version="1.0"?>
<ruleset name="The Best Coding Standard">
    <arg value="p"/>
    <arg value="s"/>
    <arg name="colors"/>
    <arg name="cache" value=".phpcs-cache"/>

    <file>src</file>
    <file>test</file>

    <rule ref="Doctrine"/>
</ruleset>
